<div class="row">
    <div class="eleven columns">
        <h3>Welcome to the Wedding Planner</h3>
    </div>
    <div class="one columns">
        <a asp-controller="User" asp-action="Logout">Logout</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var wedding in ViewBag.AllWeddings) {
            <tr>
                <td><a asp-controller="Wedding" asp-action="Wedding" asp-route-Id=@wedding.WeddingId>@wedding.SpouseOne & @wedding.SpouseTwo</a></td>
                <td>@wedding.Date.ToString("MMM d, yyyy")</td>
                <td>@wedding.Guests.Count</td>
                @if(ViewBag.Attending.Contains(@wedding.WeddingId)) {
                    <td><a asp-controller="Wedding" asp-action="UnRSVP" asp-route-Id=@wedding.WeddingId>UnRSVP</a></td>
                }else {
                    <td><a asp-controller="Wedding" asp-action="RSVP" asp-route-Id=@wedding.WeddingId>RSVP</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Wedding" asp-action="WeddingForm"><button class="button-primary">New Wedding</button></a>